/* DoctorRegistrationForm.css */
.form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row .form-group {
    width: 48%; /* Adjust as needed */
  }

.registration-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: 60px auto;
    padding-top: 10px;
  }
  
  .registration-container h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Added margin for better spacing */
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Added margin for better spacing */
  }
  
  .form-group input:hover {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .registration-button {
    background-color: #5f5b5b;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; /* Added margin for better spacing */
  }
  
  .registration-button:hover {
    background-color: #464444;
  }
  