.HomeNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 0, 0);
    padding: 10px;
}

.HomeNavbar-child {
    display: flex;
}

.HomeNavbar-auth {
    display: flex;
}

.HomeNavbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s;
}

.HomeNavbar a.active-link {
    color: rgb(77, 75, 75);
}

.HomeNavbar a:hover {
    color: #70c8ce;
    background-color: #000;
}

/* Apply custom styles to the dropdown toggle */
.custom-dropdown .dropdown-toggle {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
}

.custom-dropdown .dropdown-toggle:hover {
    background-color: #615f5f;
}

.custom-dropdown .dropdown-toggle::after {
    font-size: 10px;
    margin-left: 5px;
}

.custom-dropdown .dropdown-item {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    transition: background 0.3s ease;
    font-weight: bold;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #aa9696;
    color: #fff;
}

/* Custom text color for specific dropdown items */
.custom-dropdown .dropdown-item:nth-child(1) {
    color: rgb(92, 91, 91);
}

.custom-dropdown .dropdown-item:nth-child(2) {
    color: rgb(87, 86, 85);
}

.custom-dropdown .dropdown-item:nth-child(3) {
    color: rgb(77, 76, 76);
}

.custom-dropdown .dropdown-item:nth-child(4) {
    color: rgb(90, 87, 87);
}
