/* AdminDashboard.css */
.admin-dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .statistics-card {
    background-color: #f3e9e9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    min-height: 200px;
  }
  
  .statistics-card h3 {
    color: #333333;
    margin-bottom: 15px;
  }
  
  .statistics-card p {
    font-size: 1.5em;
    color: #4CAF50;
  }
  